/*noinspection CssUnresolvedCustomProperty*/
.radio-group label {
    margin-left: -1px;
    display: block;
    width: 36px;
    height: 30px;
    position: relative;
    cursor: pointer;
    color: var(--color-text-primary);
    border: 1px solid var(--color-border-primary);
}

.radio-group label svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.radio-group label:first-of-type {
    margin-left: 0;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.radio-group label:last-of-type {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.radio-group input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}

/*noinspection CssUnresolvedCustomProperty*/
.radio-group input[type="radio"]:checked + label {
    z-index: 1;
    color: var(--color-text-link);
    border-color: var(--color-border-info);
}

.font-face label {
    width: 90px;
}

.line-height label {
    width: 60px;
}


.theme-group label {
    width: 45px;
}

/*noinspection CssUnresolvedCustomProperty*/
.theme-group label svg {
    border: 1px solid var(--color-border-primary);
}

/*noinspection CssUnresolvedCustomProperty*/
.theme-group input[type="radio"]:checked + label {
    background: var(--color-bg-info-inverse);
}

.theme-group label[for="theme_auto-dark"] {
    display: none;
}
.theme-group label[for="theme_auto-dark-dimmed"] {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
.theme-group input[type="radio"][value="dark"]:checked ~ label[for="theme_auto-dark"] {
    display: block;
}
.theme-group input[type="radio"][value="auto-dark"]:checked ~ label[for="theme_auto-dark"] {
    display: block;
}
.theme-group input[type="radio"][value="dark"]:checked ~ label[for="theme_auto-dark-dimmed"] {
    display: none;
}
.theme-group label[for="theme_auto-dark-dimmed"]:not(.theme-group input[type="radio"]:checked ~ label) {
    display: none;
}