:root {
    --font-face: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    --font-size: 18px;
    --line-width: 600px;
    --img-max-width: 900px;
    --line-height: 1.5;
}

.with-display-settings {
    font-family: var(--font-face) !important;
    font-size: var(--font-size) !important;
    line-height: var(--line-height) !important;
}

.with-line-length-settings,
.with-display-settings table,
.with-display-settings p,
.with-display-settings h1,
.with-display-settings h2,
.with-display-settings h3,
.with-display-settings h4,
.with-display-settings h5,
.with-display-settings h6,
.with-display-settings figcaption,
.with-display-settings address,
.with-display-settings blockquote,
.with-display-settings dl,
.with-display-settings ul,
.with-display-settings ol,
.with-display-settings form,
.with-display-settings hr,
.with-display-settings pre,
.with-display-settings svg
{
    width: var(--line-width) !important;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.with-display-settings figure {
    margin: 0
}

.with-display-settings img {
    margin: 0 auto;
    max-width: var(--img-max-width);
    height: auto;
}

@media only screen and (max-width: 852px) {
    .with-display-settings img {
        max-width: 100%;
    }
}

.with-display-settings p > img {
    max-width: var(--line-width);
    margin-left: auto;
    margin-right: auto;
}

.with-display-settings figure {
    text-align: center;
}

.with-display-settings figure img {
    display: block;
}
