:root {
    --color-highligh-green: var(--color-scale-green-1);
    --color-highligh-yellow: var(--color-scale-yellow-2);
    --color-highligh-purple: var(--color-scale-purple-1);
}

[data-color-mode="dark"][data-dark-theme*="dark"] {
    --color-highligh-green: var(--color-scale-green-7);
    --color-highligh-yellow: var(--color-scale-yellow-7);
    --color-highligh-purple: var(--color-scale-purple-6);
}

@media (prefers-color-scheme: dark) {
    [data-color-mode="auto"][data-dark-theme*="dark"] {
        --color-highligh-green: var(--color-scale-green-7);
        --color-highligh-yellow: var(--color-scale-yellow-7);
        --color-highligh-purple: var(--color-scale-purple-6);
    }
}


.highlight-green {
    background: var(--color-highligh-green);
}

.highlight-yellow {
    background: var(--color-highligh-yellow);
}

.highlight-purple {
    background: var(--color-highligh-purple);
}
