body {
    padding: 0;
}

#container {
    margin: 0 auto;
    padding-top: 50px;
    max-width: 600px;
    height: 100%;
}

#container.wide {
    max-width: 1200px
}

.marketing-content {
    margin: 0 auto;
    max-width: 1000px
}

#content video {
    max-width: 638px
}

article.book {
    font-size: 18px;
    font-family: Georgia, serif;
}

.editable.markdown-body a {
    cursor: pointer;
}

.diff {
    position: absolute;
    cursor: pointer;
    width: 100%;
}
.diff.add {
    background: #bef5cb;
}
.diff.del {
    background: #fdaeb7;
}
.diff.mod {
    background: #c8e1ff;
}

.local-diff-add {
    display: inline-block;
    width: 4px;
    background: #bef5cb;
    height: 16px;
}

.local-diff-del {
    background: #fdaeb7;
}

.highlight-green {
    background: #dcffe4;
}

.highlight-yellow {
    background: #fff5b1;
}

.highlight-purple {
    background: #f5f0ff;
}