<!DOCTYPE html>
<html lang="en">
<head>
  <title>Docland</title>
  <link href="primer.css" rel="stylesheet" />
  <link rel="icon" href="<%= htmlWebpackPlugin.options.productIcon %>" type="image/svg+xml" />
  <link rel="mask-icon" href="<%= htmlWebpackPlugin.options.productIcon %>" color="#24292e">
  <meta name="viewport" content="width=device-width">
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "NotFoundPage",
      "name": "Docland"
    }
  </script>
</head>
<body>
<div id="content-root"></div>
</body>
</html>
