<!DOCTYPE html>
<html lang="en">
<head>
  <title>Docland privacy policy</title>
  <link href="primer.css" rel="stylesheet" />
  <link rel="icon" href="<%= htmlWebpackPlugin.options.productIcon %>" type="image/svg+xml" />
  <link rel="mask-icon" href="<%= htmlWebpackPlugin.options.productIcon %>" color="#24292e">
  <meta name="viewport" content="width=device-width">
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Article",
      "name": "Docland privacy policy",
      "encodingFormat": "text/html"
    }
  </script>
</head>
<body>
<div id="content-root">
  <p>Test</p>
</div>
</body>
</html>
